body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.app-background {
  background-image: url('./background1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh; /* full viewport height */
}

.start-content {
  text-align: center;
  color: white;
  animation: fadeIn 2s ease-in-out;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-button, .new-page-button {
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin: 10px;
}

.start-button:hover, .new-page-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transform: scale(1.1);
}

.start-button:focus, .new-page-button:focus {
  outline: none;
}

img {
  cursor: pointer;
  transition: transform 1s ease-in-out;
}
